SITE_NAME=Example website
TITLE=Coming soon | Example website
DESCRIPTION=Lorem ipsum dolor sin amet
IMAGE=https://images.unsplash.com/photo-1558509825-97fd4feedd88?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80
URL=https://example.org
FORM=https://your-api.example.org
FONT=Montaga
